.main {
  &__card {
    background-color: #fff;
    padding: 56px 24px 26px 24px;
    border-radius: 8px;
    margin: 0 24px 24px 0;
  }

  &__card-text {
    width: 326px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 36px;
  }

  &__card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
  }

  &__footer-left {
    display: flex;
  }

  &__card-photo {
    background: #B2B3BB;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 8px;
  }

  &__share {
    font-size: 18px;
    text-align: right;
    color: #F05D63;
  }
}
